<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Career Advisor</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body> 
    <h2>Career Advisor</h2>

    {% block body %}
    {% endblock %}
  </body>

</html>
