{% extends 'paths/base.html' %}

{% block body %}

  <form action="{% url 'paths:getTrajectories' %}" method="POST">
    {% csrf_token %}
    <h3>From</h3>
    <p>Select your current job title</p>

    <div class="ui fluid icon input">
      <input id="from" type="text" name="fromNode" placeholder="Begin typing"/>
      <i class="write icon"></i>
    </div>

     <!-- <select name="fromNode">
      {# {% for job in jobs %}
          <option value="{{ job.node_id }}" name="fromNode">{{ job.node_title }}</option>
      {% endfor %} #}
    </select> -->

    <br>

    <h3>To</h3>
    <p>See paths from your current position to a different job title</p>

    <div class="ui fluid icon input">
      <input id="to" type="text" name="toNode" placeholder="Begin typing"/>
      <i class="write icon"></i>
    </div>


    <!--<select name="toNode">
      {# {% for job in jobs %}
          <option value="{{ job.node_id }}" name="toNode">{{ job.node_title }}</option>
      {% endfor %} #}-->
    </select>
    <br><br>
    <input type="submit" value="Show Paths">
  </form>
  <br>

  

  <!-- <div class="ui tablet stackable bottom attached steps" id="result">

  <div class="active step">
    <i class="dollar icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
      <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>

    </div>
  </div>
  <div class="active step">
    <i class="dollar icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
</div> -->



  <script type="text/javascript">
    $(document).ready(function(){
     $( "input#from" ).autocomplete({
        source: "{% url 'paths:autocomplete_job' %}",
        minLength: 1
      });
    });

    $(document).ready(function(){
      $( "input#to" ).autocomplete({
        source: "{% url 'paths:autocomplete_job' %}",
        minLength: 1
      });
    });

  </script>

{% endblock %}
