{% extends 'paths/base.html' %}

{% block body %}

  <h1>Explore career possibilities...</h1>
  <form name="find-paths" id="home" action="{% url 'paths:getTrajectories'%}" method="POST">
    {% csrf_token %}
    <div class="from-form">
      <h2>From</h2>
      <p>Select your current job title</p>

      <div class="ui fluid icon input">
        <input id="from" type="text" name="fromNode" placeholder="Begin typing"/>
        <i class="write icon"></i>
      </div>
    </div>

    <br>

    <div class="to-form">
      <h2>Show Paths To</h2>

      <br>
      <div class="ui grid">
        <div class="eight wide column">
          <input type="radio" name="output-type" value="not-next"><label>End Job</label>
          <p class="target-desc">See paths from your current position to your target position</p>
          <div class="ui fluid icon input">
            <input id="to" type="text" name="toNode" placeholder="Begin typing"/>
            <i class="write icon"></i>
          </div>
        </div>

        <div class="one wide column">
          <div class="ui vertical divider">
            Or
          </div>
        </div>

        <div class="seven wide column">
          <input type="radio" name="output-type" value="next" onclick="clearOther()"><label>Next Steps</label>
          <p class="target-desc">See common job titles following your current position</p>
        </div>
      </div>
    </div>
    <br><br>
    <button class="ui button" type="submit">
      <i class="send icon"></i>
      Show Paths
    </button>

  </form>
  <br>



  <script type="text/javascript">
    $(document).ready(function(){
     $( "input#from" ).autocomplete({
        source: "{% url 'paths:autocomplete_job' %}",
        minLength: 1
      });
    });

    $(document).ready(function(){
      $( "input#to" ).autocomplete({
        source: "{% url 'paths:autocomplete_job' %}",
        minLength: 1
      });
    });

    document.getElementById("to").addEventListener("click", myFunction);

    function myFunction() {
        selected = document.forms['find-paths']['output-type'];
        selected.value = "not-next";
    };

    function clearOther(){
      e = document.getElementById("to")
      e.value = ""
    }

  </script>

{% endblock %}
